html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.logo {
  width: 40px;
}
.footer-wrap {
  display: flex;
  justify-content: space-around;
}

.nav-black {
  background-color: #000;
  opacity: 0.9;
  color: white;
}
